*{
    margin: 0px;
}

.fullSizeImageHeader{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("../media/podrono-background-banner.jpg");
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    display: none;
    left: 0;
    top: 0;
}

.loader {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: -17px;
    position: absolute;
    border: 2px solid #0160C0;
    top: 50%;
    left: 50%;
    animation: loader 3s infinite ease;
    z-index: 2000;
    display: none;
}


.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #0189E5;
    animation: loader-inner 3s infinite;
}



@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    min-width: 300px;
    height: 300px;
    padding: 25px;
    background-color: white;
    border-radius: 25px;
    align-self: center;
    z-index: 100;
    transition: 0.3s all;
}

.input-group {
    width: 80%;
    margin: 20px auto;
    position: relative;
}

.input-group label {
    font-size: 15px;
    display: block;
    position: absolute;
    top: 7.5px;
    z-index: -1;
    transition: 0.3s;
}

.input-group input {
    height: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    outline: none;
    z-index: 1;
    font-size: 15px;
    transition: 0.3s;
    color: #272727;
    resize: none;
}

.input-group  input:focus, input:valid {
     border-bottom-color: gold;
}

.input-group input:focus + label, form .input-group input:valid + label {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    font-size: 12px;
    color: gold;
}