$base-margins: 8px;
$--primaary: gold;
$--secondary: #000000;


.fullSizeImageHeader{
  position: absolute;
  height: 100vh;
  background-size: cover;
  background-image: url("../media/podrono-background-banner.jpg");
}


/*  LOADER  */

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  display: none;
  left: 0;
  top: 0;
}

.loader {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: -17px;
  position: absolute;
  border: 2px solid #0160C0;
  top: 50%;
  left: 50%;
  animation: loader 3s infinite ease;
  z-index: 2000;
  display: none;
}


.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #0189E5;
  animation: loader-inner 3s infinite;
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

// INPUTS
form {
  transition: 0.3s all;

  .input-group {
    width: 80%;
    margin: 20px auto;
    position: relative;

    label {
      font-size: 15px;
      display: block;
      position: absolute;
      top: 7.5px;
      z-index: -1;
      transition: 0.3s;
    }

    input {
      height: 30px;
      width: 100%;
      border: none;
      border-bottom: 2px solid #ccc;
      background: transparent;
      outline: none;
      z-index: 1;
      font-size: 15px;
      transition: 0.3s;
      color: #272727;
      resize: none;

      &:focus, &:valid {
        border-bottom-color: $--primaary;

        + label {
          transform: translateY(- 25 px);
          font-size: 12px;
          color: $--primaary;
        }
      }
    }
  }
}